.singlePost {
    flex: 9;
    padding: 20px;
    background-color: var(--background);
    color: var(--primary);
    min-height: 100vh;

}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", sans-serif;
    font-size: 28px;
    font-style: italic;
}

.singlePostTitleInput {
    text-align: center;
    margin: 10px;
    font-family: "Lora", sans-serif;
    font-size: 28px;
    font-style: italic;
    background-color: transparent;
    color: var(--primary);
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary);
}

.singlePostTitleInput:focus {
    outline: none;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal;
}

.singlePostIcon:last-child {
    color: tomato;
}

.singlePostInfo {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}

.singlePostAuthor {}

.singlePostDate {}

.singlePostContent {
    color: var(--primary);
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    line-height: 28px;
    /* letter-spacing: 0.2px; */
    font-family: 'Inter',sans-serif;
    word-spacing: 0;

}

.singlePostContentInput {
    border: none;
    background-color: var(--background);

}
/* 
.singlePostContent::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;

} */

.singlePostContent img {
    width: 90%;
    margin: 20px;
    margin-left: 40px;

    height: auto;
    object-fit: contain;
}

.singlePostButton {
    border: none;
    background-color: teal;
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}

@media screen and (max-width: 440px) {
    .singlePost {
        width: 100%;
        box-sizing: border-box;
    }

    .singlePostWrapper {
        padding: 10px;
    }

    .singlePostContent img {
        margin: 20px;
    }

}