.singlePost {
    flex: 9;
    padding: 2rem 4rem;
    background-color: var(--background-color);
    color: var(--primary);
    min-height: 100vh;
    position: relative;


    .deletePostOption {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(206, 206, 206);
        border-radius: 1rem;
        color: #333;
        z-index: 10;


        width: max-content;

        aspect-ratio: 1.5;
        transition: 1s ease-in-out;

        .deleteCard {
            padding: 0.5rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1rem;
            align-items: center;
            width: 100%;
            height: 100%;

            h2 {
                font-size: 24px;
                font-weight: 600;
            }

            .optionsButton {
                width: 100%;
                padding: 0rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                button {
                    border: none;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    border-radius: 1rem;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover {
                        opacity: 0.7;
                    }

                }

                .deleteBtn {
                    color: #fff;
                    background: red;

                }

                .cancelBtn {
                    background: #666;
                    color: #fff;
                }
            }
        }
    }

    .loading {
        position: absolute;
        top: 30%;
        left: 50%;

        transform: translateX(-50%);
    }

    .singlePostWrapper {
        padding: 20px;
        padding-right: 0;
        display: flex;
        flex-direction: column;


        .pathSinglePost {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            margin: 1rem 0;
        }

        .singlePostImg {
            width: 60%;
            margin: 10px auto;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
            transition: all 1.5s ease;
        }

        .singlePostTitleInput {
            text-align: center;
            margin: 10px;
            /* font-family: "Lora", sans-serif; */
            font-family: "Inter", sans-serif;
            font-size: 28px;
            font-style: italic;
            background-color: transparent;
            color: var(--primary);
            border: none;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--primary);
        }

        .singlePostTitle {
            text-align: center;
            margin: 10px;
            font-family: "Inter", sans-serif;
            font-size: 24px;
            font-style: bold;

            .singlePostEdit {
                margin-top: 2rem;
                float: right;
                font-size: 16px;

                .singlePostIcon {
                    margin-left: 1rem;
                    cursor: pointer;



                    &.trash {
                        color: rgb(133, 2, 2);
                    }

                    &.edit {
                        color: rgb(50, 50, 121);
                    }
                }
            }
        }

        .singlePostInfo {
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            font-size: 16px;
            font-family: 'Varela Round', sans-serif;
            color: #b39656;

            .singlePostAuthor {}

            .singlePostDate {}
        }

        .singlePostContent {
            color: var(--primary);
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
            line-height: 28px;
            /* letter-spacing: 0.2px; */
            font-family: 'Inter', sans-serif;
            word-spacing: 0;


            img {

                width: 70%;
                height: auto;
                transform: translateX(20%);

                object-fit: contain;
                margin: 1rem 0;
            }

            h2 {
                margin: 20px 0;
            }

            a {
                text-decoration: none;
                color: var(--primary-color);

                &:hover {
                    color: var(--secondary-color);
                }
            }

            .twitter-tweet {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                margin: 20px 0;

                iframe {
                    width: 75%;
                    /* min-height: 450px; */
                    /* max-height: 450px; */
                    // height: 400px;
                    aspect-ratio: 0.7;
                }
            }

        }

        .singlePostContentInput {
            border: none;
            background-color: var(--background);

            &:focus {
                outline: none;
            }


        }

        .singlePostButton {
            border: none;
            background-color: teal;
            width: 100px;
            padding: 10px 20px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            align-self: flex-end;
            margin-top: 20px;
        }



    }
}


@media screen and (max-width: 768px) {
    .singlePost {
        width: 100%;
        padding: 0;

        .singlePostWrapper {
            padding: 2rem 3rem;

            .singlePostImg {
                width: 100%;
            }

            .pathSinglePost {
                font-size: 0.6rem;
            }

            .singlePostTitle {
                font-size: 1.1rem;
            }

            .singlePostContent {
                font-size: 0.8rem;

                img {
                    height: auto;
                    width: 65%;
                    transform: translateX(25%);
                }
            }
        }

    }



}