.posts {
    background-color: var(--background);
    color: var(--primary);
    width: 80vw;
}

.postsWrapper {
    flex: 9;
    flex-wrap: wrap;
    margin: 20px;
    display: flex;
}

.postsTitle {
    text-align: center;
    margin: 30px 0 ;
}