.posts {
    flex: 9;
    flex-wrap: wrap;
    margin: 20px;
    display: flex;
}

.postsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.postsTitle {
    text-align: center;
    margin: 30px 0 ;
}