.topbar{
    width:calc(100% - 18vw);
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;
    background: #07070e;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topLeft{

}
.searchInput{
    background-color: inherit;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 5px 10px;

}
.searchInput:focus{
    outline: none;
}
.topRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topSearchIcon{

}

.topButton{

}
.topLanguage{

}