.topbar {
    width: 100%;
    min-height: 53px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--background);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;

    z-index: 10;

}

.topLeft {
    flex: 3;
}

.topBrand {
    font-family: "Varela Round", sans-serif;
}

.topLogo {
    height: 50px;
    cursor: pointer;

}

.topCenter {
    flex: 6;
    text-transform: capitalize;

}

.topList {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.topListItem {
    cursor: pointer;
    margin-left: 40px;
}

.topListItem:hover {
    color: var(--secondary);

}

.topRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex: 3;
}

.profilePicture {
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}

.topRight span:hover {
    color: var(--secondary);
}

.topSearchIcon {
    cursor: pointer;
}

.topLanguage>span {
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 440px) {
    .topbar {
        
    }

    .topCenter {
       order: 3;
       position: relative;
        z-index: 9999;
        display: none;

    }

    .topList {
        /* position: absolute; */
        
        flex-direction: column;
        z-index: 9999;
        
    }

    .topListItem {
        width: 100%;
        height: 100px;

    }

    .topRight {
        justify-content: end;
    }

    .profilePicture {
        margin: 0 10px;
    }

    .topRight .topLanguage {
        display: none;
    }
    .topRightBtn{
        margin: 0 10px;
    }
}