.sidebar {
    width: 20vw;
    background: var(--background-color);
    color: var(--text-color);
    padding: 2rem 1rem ;
    padding-top: 5rem;

    .sidebarItem {
        padding: 0.5rem 0 ;
     
    //    justify-content: center;ali

        .sidebarTitle {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            padding-left: 0.3rem;
            
            border-bottom:2px solid var(--secondary-color) ;
        }

        .sidebarSocial {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .sidebarIcon {
                font-size: 20px;
                cursor: pointer;
                &:hover{
                    color: var(--secondary-color);
                }
            }
        }

        ///
        .sidebarList {
            margin: 0.5rem 0 ;
            flex-direction: column;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2,1fr);

            .sidebarListItem {
                padding: 0.3rem;
                &:hover{
                    color: var(--secondary-color);
                }
            }
        }

        .randomPostList {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 1rem;
            // justify-content: center;
            margin: 1rem 0 ;
            .randomPostItem{
               
                width: 100%;

                overflow: hidden;
                border-radius: 1rem;
                transition:  1s ease;
                .randomPostImg{
                    width: 100%;
                    aspect-ratio:1.5 ;
                    object-fit: cover;
                    border-radius: 1rem;
                    overflow: hidden;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .randomPostTitle{
                    font-size: 13px;
                    font-weight: 500;
                    text-align: justify;
                    padding: 0.5rem 0 ;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-spacing: 1px;
                    text-align: justify;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .sidebar{
        width: 100vw;
        padding:2rem 3rem;
        border-top: 1px solid lightgrey;
        .sidebarItem{
            .randomPostList{
                grid-template-columns: repeat(2,1fr);
                .randomPostTitle{
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    word-spacing: 1px;
                    text-align: justify;
                }
            }
        }
    }

}