.sidebar{
    background-color: var(--background);
    padding: 20px;
    /* flex: 3; */
    width: 20vw;
    color: var(--primary);
    display: flex;

    flex-direction: column;
}
.sidebarItem{
    margin: 10px 0;

}
.sidebarSocial{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    color: var(--icon-social);
    font-size: 40px;
    margin-right: 20px;
}
.sidebarTitle{
    font-size: 20px;
    border-bottom: 1px solid var(--secondary);
}
.sidebarList{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 ;
}
.sidebarListItem{   
    width: 50%;
    margin: 10px 0 ;
}
.sidebarListItem:hover{
    color:var(--secondary)
    
     /* border-left: 1px solid var(--secondary); */
}
.randomPostList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.randomPostItem{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.randomPostImg{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
}
.randomPostTitle{
    font-size: 12px;
    text-align: center;
    padding: 10px 30px;
}
@media screen and (max-width: 440px) {
    .sidebar{
        width: 100vw;
        height: max-content;
        padding: 20px;
        

    }
    .sidebarItem{
        margin: 10px 30px;
    }
    .randomPostList{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .randomPostItem{
        width: 40vw;
        margin: 10px 0;
        height: 150px;

        box-sizing: border-box;
    }
    .randomPostImg{
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    .randomPostTitle{
        text-overflow: clip;
        font-size:12px ;
        padding: 0;
        margin-top: 10px;
    }

}