.sidebar{
    background-color: var(--background);
    padding: 20px;
    /* flex: 3; */
    width: 20vw;
    color: var(--primary);
    display: flex;

    flex-direction: column;
}
.sidebarItem{
    margin: 10px 0;

}
.sidebarSocial{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    color: var(--icon-social);
    font-size: 40px;
    margin-right: 20px;
}
.sidebarTitle{
    font-size: 20px;
    border-bottom: 1px solid var(--secondary);
}
.sidebarList{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0 ;
}
.sidebarListItem{   
    width: 50%;
    margin: 10px 0 ;
}