.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    padding: 10px ;
    font-family:'Varela Round', serif;
    background-color:var(--background);
    color: var(--primary);
    font-size: 20px;
    border-top: 1px solid var(--primary);
    font-family: 'Varela Round', sans-serif;
    

}