:root {
    --background-color: #1A1C20;
    --primary-color: #CF7500;
    --secondary-color: #F0A500;
    --text-color: #F4F4F4;
    --grey-color: #b2b0b0;

}

.footer {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color);
    color: var(--text-color);
    row-gap: 2rem;
    border-top: 1px solid lightgray;

    // justify-content: center;
    .ftContact {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .contactText {
            color: var(--text-color);

            small {
                font-size: 13px;
                font-weight: 400;
            }

            h2 {
                font-size: 1.8rem;
            }

        }

        .contactInput {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 1rem;

            input {
                flex: 3;
                padding: 0.8rem 0.9rem;
                border-radius: 3rem;
                outline: none;
                background: transparent;
                color: var(--text-color);
                border: 1px solid (var(--grey-color));
            }

            .btn {
                flex: 1;
                // width: max-content;
                background: var(--primary-color);
                color: var(--text-color);
                font-size: 13px;
                font-weight: 500;
                border-radius: 1.3rem;
                border: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                padding: 0.7rem 1rem;
                cursor: pointer;
                &:hover{
                    background-color: var(--secondary-color);
                }

                .icon {
                    font-size: 18px;
                }


            }

        }

    }

    .ftLinks {
        display: grid;
        width: 100%;
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        padding:  0.5rem 2rem;
        
        
        // flex-basis: 50%;
        // grid-template-columns: (3, 1fr);
        .linkGroup{
            .ftListItem{
                list-style: none;
                transition: 0.3 ease;
                cursor: pointer;


                .icon{
                    font-size: 15px;
                }
                &:hover {
                    color: var(--primary-color);
                    transform: translateX(7px);

                    .icon {
                        color: var(--secondary-color);
                    }
                }
            }
        }

    }
    .ftDiv{
        width: 100%;
        text-align: center;
        padding: 0.5rem auto;

    }
}
@media screen and (max-width:768px){
    .footer{
        width: 100%;
        padding:2rem 3rem;
        border-top: 1px solid var(--grey-color);
            // border-bottom: 1px solid var(--grey-color);
        .ftContact{
             width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            
            .contactText{
                width: 100%;
                padding: 0 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
               small{
                font-size: 14px;    
               }
               h2{
                font-size: 18px;
               }
            }
            .contactInput{
                width: 100%;
                flex-direction: row;
                gap: 0.3rem;
                input{
                    width: 100%;
                }
                .btn{
                    width: max-content;
                    .icon{

                    }
                }
            }

        }
        .ftLinks{
            grid-template-columns: repeat(2,1fr);
        }
        .ftDiv{

        }
    }
    @media screen and (min-width:550px){
        
    }
}